body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #2c3e50;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #34495e;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

section {
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
  color: #2980b9;
}

ul {
  margin-top: 1rem;
  padding-left: 1.2rem;
}

code {
  display: block;
  background-color: #ecf0f1;
  padding: 1rem;
  border-radius: 5px;
  font-family: monospace;
  margin-top: 1rem;

}
.page-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.logo {
  height: 60px;
  width: auto;
  border-radius: 5px; 
}

